<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chanapps.four.activity"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:icon="@drawable/four_leaf_clover_1"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:debuggable="true">

        <activity
                android:name=".PostReplyActivity"
                android:label="@string/post_reply_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".FullScreenImageActivity" android:label="@string/full_screen_image_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ThreadActivity"
                    />
        </activity>

        <activity android:name=".BoardActivity" android:label="@string/board_activity">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="boards.4chan.org"/>
            </intent-filter>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".BoardSelectorActivity"
                    />
        </activity>

        <activity android:name=".ThreadActivity" android:label="@string/thread_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".BoardActivity"
                    />
        </activity>

        <activity android:name=".SettingsActivity" android:label="@string/settings_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".BoardSelectorActivity" android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <service android:name="com.chanapps.four.service.FetchChanDataService"/>
        <service android:name="com.chanapps.four.service.BoardLoadService"/>
        <service android:name="com.chanapps.four.service.ThreadLoadService"/>

        <!--widgets-->
        <activity android:name="com.chanapps.four.widget.WidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.chanapps.four.widget.BoardWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED"/>
                <action android:name="android.appwidget.action.APPWIDGET_DELETED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/board_widget_info"/>
        </receiver>
        <receiver android:name="com.chanapps.four.component.GlobalAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.chanapps.four.component.GlobalAlarmReceiver.update"/>
            </intent-filter>
        </receiver>
        <service android:name="com.chanapps.four.widget.UpdateWidgetService"/>

        <!-- advertising -->
        <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    </application>

</manifest>
