<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chanapps.four.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:icon="@drawable/chibiw_48"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".BoardListActivity" android:label="@string/title_board_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="android"
                      android:host="api.chanapps.com"
                      android:pathPattern="/board/.*/page/.*" />
            </intent-filter>
        </activity>

        <activity android:name=".ThreadListActivity" android:label="@string/title_thread_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="android"
                      android:host="api.chanapps.com"
                      android:pathPattern="/board/.*/thread/.*" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PhotoGrid" android:label="@string/title_photogrid_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name=".BoardGridActivity" android:label="@string/app_name"
        	android:theme="@style/tabTheme">
            <intent-filter>            
				<category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

		<activity android:name=".FragmentLayout" android:label="GridView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

		<activity android:name=".FragmentLayout$DetailsActivity" android:label="DetailsView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>

</manifest>
