<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chanapps.four.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/chibiw_48"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true">

        <activity android:name=".FullScreenImageActivity" android:label="@string/full_screen_image_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".BoardListActivity" android:label="@string/title_board_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".ThreadListActivity" android:label="@string/title_thread_activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        

        <activity android:name=".BoardGridActivity" android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
	            <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

		<activity android:name=".FragmentLayout" android:label="GridView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

		<activity android:name=".FragmentLayout$DetailsActivity" android:label="DetailsView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

		<service android:name="com.chanapps.four.data.ChanThreadService" />
		<service android:name="com.chanapps.four.data.ChanPostService" />
    </application>

</manifest>
